@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVisitasPyPModel
@{
}
<h1> Detalles del DetallesVisitasPyP</h1>
<div>
    Id: @Model.visitasPyP.Id
</div>
<div>
    Cedula: @Model.visitasPyP.FechaVisita
</div>
<div>
    Nombre: @Model.visitasPyP.Temperatura
</div>
<div>
    Apellidos: @Model.visitasPyP.Peso
</div>
<div>
    Direccion: @Model.visitasPyP.FrecuenciaRespiratoria
</div>
<div>
    Telefono: @Model.visitasPyP.FrecuenciaCardiaca
</div>
<div>
    Correo: @Model.visitasPyP.EstadoAnimo
</div>
<div>
    Correo: @Model.visitasPyP.CedulaVeterinario
</div>
<div>
    Correo: @Model.visitasPyP.Recomendaciones
</div>
<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños</a>
